{% extends 'base.html.twig' %}

{% block title %}Training index{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light navbar-bg mb-5">
        <ul class="nav">
            <li class="nav-item">
                <a class="navbar-brand space-brand" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand space-brand" href="/training">Trainings overzicht</a>
            </li>

            <li class="nav-item">
                <a class="navbar-brand space-brand" href=/les>Lessen overzicht</a>
            </li>

            <li class="nav-item">
                <a class="navbar-brand space-brand" href="/contact">Contact</a>
            </li>

            <li class="nav-item">
                <a class="navbar-brand space-brand" href="/register">Registreren</a>
            </li>

            <li class="nav-item">
                <a class="navbar-brand space-brand" href="/login">Inloggen</a>
            </li>
        </ul>
    </nav>


    <h1>Training index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Naam</th>
                <th>Omschrijving</th>
                <th>Duur</th>
                <th>Kosten</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for training in trainings %}
            <tr>
                <td>{{ training.id }}</td>
                <td>{{ training.naam }}</td>
                <td>{{ training.omschrijving }}</td>
                <td>{{ training.duur }}</td>
                <td>{{ training.kosten }}</td>
                <td>
                    <a href="{{ path('training_show', {'id': training.id}) }}">show</a>
                    <a href="{{ path('training_edit', {'id': training.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('training_new') }}">Create new</a>
{% endblock %}
